

<div class="row">
  <div class="col-lg-6">

  <div class="row">
    <div class="col-lg-12"">
      <h1>Detalhes</h1>
    </div>
  </div>

<label>NOME:</label>
<h6>"<%= @mock.name %>"</h6>

<label>PATH:</label>
 <a href="<%="http://#{request.host}:#{request.port}#{@mock.path}"%>"> <h6><%= @mock.path %></h6> </a>

<label>HTTP STATUS:</label>
<h6>"<%= @mock.status %>"</h6>
<label>TIMEOUT:</label>
<h6>"<%= @mock.timeout %>"</h6>
<label>CONTENT:</label>
<pre id="teste"><%= @mock.content %></pre>

<div class="row">
  <div class="col-sm-12">
    <%= link_to 'Remover', @mock, method: :delete, data: { confirm: 'Certeza?' }, class: 'btn btn-primary' %>
    <%= link_to 'Editar', edit_mock_path(@mock), method: :get, class: 'btn btn-primary' %>
    <%= link_to "Adicionar novo Mock", new_mock_path, class: 'btn btn-primary' %>
    <%= link_to "Voltar", mocks_path, class: 'btn btn-primary' %>
  </div>
</div>

  </div>
</div>

<script>
  function syntaxHighlight(json) {
    json = json.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');
    return json.replace(/("(\\u[a-zA-Z0-9]{4}|\\[^u]|[^\\"])*"(\s*:)?|\b(true|false|null)\b|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?)/g, function (match) {
      var cls = 'number';
      if (/^"/.test(match)) {
        if (/:$/.test(match)) {
          cls = 'key';
        } else {
          cls = 'string';
        }
      } else if (/true|false/.test(match)) {
        cls = 'boolean';
      } else if (/null/.test(match)) {
        cls = 'null';
      }
      return '<span class="' + cls + '">' + match + '</span>';
    });
  }


  function output(inp) {
    document.getElementById('teste').innerHTML = syntaxHighlight(inp);
  }
  var inp = document.getElementById('teste').textContent;
  output(inp)
</script>
